main {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}
main h1,
main h3 {
  color: #434346;
  text-align: left;
  font-weight: 600;
}
.clients-title {
  width: 70vw;
  padding-top: 40px;
}
main h1 {
  font-size: 3rem;
}
main h3 {
  width: 50vw;
  font-size: 1.2rem;
}
.clients-buttons {
  margin-top: 50px;
  display: grid;
  width: 70vw;
}
.clients-buttons span {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #022b4a;
  font-weight: 700;
  font-size: 1.3rem;
  width: 50vw;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.clients-buttons a {
  color: #022b4a;
}
.clients-buttons span:hover {
  background-color: #022b4a;
  color: #fff;
  transition: all 0.3s ease;
}
#create-cli-btn img,
#manage-cli-btn img {
  width: 35px;
  margin-right: 10px;
}
